* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Robote, sans-serif;
}

img {
    width: 100px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 15px;
    background-color: #1F2937;
    padding: 25px;
}

.header .right-content {
    font-weight: bold;
}

.left-content ul {
    display: flex;
    gap: 20px;
    color: dimgray;
}

.main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 40px;
    background-color: #1F2937;
    color: white;
}

.left-content-2 {
    display: flex;
    flex-direction: column;
    width: 600px;
    gap: 14px;
}

.left-content-2 h1 {
    font-size: 50px;
}

.left-content-2 p {
    width: 400px;
    color: lightgray;
    font-weight: bold;
}

.left-content-2 .sign-up-btn {
    width: 100px;
    padding: 8px 10px 8px 10px;
    border-radius: 8px;
    background-color: #3882F6;
    color: white;
    border: 1px #3882f6 solid;
    font-weight: bold;
}

.left-content-2 .sign-up-btn:hover {
    cursor: pointer;
}

.main-content .right-content-2 img {
    width: 400px;
    height: 250px;
}

.random-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 30px;
}

.info-containers {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    text-align: center;
}

.random-information  img {
    width: 180px;
    height: 180px;
}

.random-information p {
    padding: 15px 0px 15px 0px;
    color: black;
    font-weight: 300;
    font-size: 20px;
}

.quote {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 150px;
    background-color: #E5E7EB;
    margin-top: 50px;
}

.info-header {
    font-size: 30px;
    color: #1F2937;
    font-weight: 900;
}


.quote .text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}

.quote-name {
    padding-top: 20px;
    font-weight: 600;
    margin-left: 45rem;
}

.footer {
    margin-top: auto;
    display: flex;
    background-color: #1F2937;
    color: white;
    padding: 40px;
    justify-content: center;
    font-weight: 200;
}


.cta-container {
    padding: 100px;
}


.cta {
    display: flex;
    justify-content: space-around;
    gap: 10rem;
    background-color: #3882F6;
    padding: 50px 30px 50px 30px;
    color: white;
    border-radius: 8px;
}

.cta-text {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.cta-text p {
    font-weight: 300;
    color: white;
}

.cta-btn-btn {
    padding: 10px 30px 10px 30px;
    color: white;
    background-color: #3882F6;
    border: 2px #fff solid;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
}

.cta-btn-btn:hover {
    cursor: pointer;
}





